{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CMPUT 404 - Lab 5</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet"/>
</head>
<nav><div class="page-header">
  <h1>CMPUT 404 - Lab 5 </h1>
</div>
    <p><a href="{% url 'polls:index' %}">All Questions</a></p>
</nav>
<body>
{% block body %}
{% endblock %}
<script src="{% static 'js/base.js' %}"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
